@import './index.scss';

.no_fav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    min-height: calc(100vh - 300px);

    img {
        width: 190px;
        height: 190px;
        object-fit: contain;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
        margin-bottom: 0.5rem;
    }


    a {
        color: rgb(103, 89, 232);
    }

    @include breakpoints(sm) {
        width: 70%;
        // min-height: calc(100vh - 138px);
    }
}